[submodule "src/external/pathlinker"]
	path = src/external/pathlinker
	url = https://github.com/murali-group/pathlinker
[submodule "src/external/utils"]
	path = src/external/utils
	url = https://github.com/murali-group/utils
[submodule "src/external/regpathlinker"]
	path = src/external/regpathlinker
	url = https://github.com/adyprat/regpathlinker
[submodule "src/external/shortcuts-ss"]
	path = src/external/shortcuts-ss
	url = https://github.com/adyprat/shortcuts-ss
[submodule "src/external/quicklinker"]
	path = src/external/quicklinker
	url = https://github.com/mitchwagner/quicklinker
[submodule "src/external/reglinker"]
	path = src/external/reglinker
	url = https://github.com/mitchwagner/reglinker
[submodule "src/external/rwer"]
	path = src/external/rwer
	url = https://github.com/mitchwagner/rwer
