*.swp
*.pyc
graphspace-credentials.yaml

# Organizational folders
qsub/*
!qsub/.gitkeep

config/*
!config/.gitkeep

results/
inputs/
outputs
outputs/

# Virtual environments
venv/
venv-regpathlinker/
baobab-venv/
baobab-venv-regpathlinker/
