[submodule "src/external/pathlinker"]
	path = src/external/pathlinker
	url = https://github.com/murali-group/pathlinker
[submodule "src/external/utils"]
	path = src/external/utils
	url = https://github.com/murali-group/utils
[submodule "src/external/regpathlinker"]
	path = src/external/regpathlinker
	url = https://github.com/adyprat/regpathlinker
