*.swp
*.pyc
graphspace-credentials.yaml

# Organizational folders
qsub/*
!qsub/.gitkeep

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

config/*
!config/.gitkeep

results/
inputs/
outputs
outputs/

# Virtual environments
venv/
venv-regpathlinker/
baobab-venv/
baobab-venv-regpathlinker/
