*.swp
*.pyc
graphspace-credentials.yaml
test.yaml

# Organizational folders
qsub/*
!qsub/.gitkeep

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

configs/*
!configs/.gitkeep

results/
inputs/
outputs
outputs/

# Virtual environments
venv/
venv-regpathlinker/

# Any further folder with "venv" in the name
*venv*/

# Virtual environments for running on baobab
baobab-venv/
baobab-venv-regpathlinker/

# Different order of the above
venv-baobab/
venv-regpathlinker-baobab/

# FAdo (Python library) table file
.tablereg
.tablereg.bak
.tablereg.dat
.tablereg.dir
